* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #5c5c5c, #c9aa67);
  font-family: sans-serif;
  line-height: 1.4;
  color: #1c1c1c;
}

article {
  margin-bottom: 60px;
}

.main-header {
  margin-bottom: 60px;
}

h1,
h3 {
  text-transform: uppercase;
  text-align: center;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 26px;
  margin-bottom: 15px;
}

h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-size: 23px;
  margin-bottom: 25px;
}

h4 {
  font-size: 30px;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 30px;
  margin-bottom: 20;
}

button {
  background-color: #1c1c1c;
  border: none;
  border-radius: 15px;
  padding: 4px 10px;
  text-align: center;
  margin-bottom: 30px;
}

button a:link,
button a:visited {
  color: #b8860b;
}

button a:hover,
button a:active {
  color: #1c1c1c;
  font-size: 21px;
}

nav {
  background-color: #c90;
  font-size: 20px;
  text-align: center;
  border: none;
  width: 100%;
}

nav a:visited {
  color: #1c1c1c;
}

nav a:hover {
  color: #c90;
  background-color: #1c1c1c;
}

.container {
  margin: 0 auto;
}

.main-header {
  height: 80px;
  background-color: #aaaaaa;
  color: #1c1c1c;
}

.author {
  padding: 10px 25px;
}

.channels {
  padding: 30px 0;
  background-color: #aaaaaa;
  color: #1c1c1c;
  border: 3px solid #c90;
  width: 825px;
  margin: 0 auto;
}

.link-top {
  width: 100%;
  margin: 0 25px;
}

.the-author {
  border-radius: 30px;
}

.main-author {
  font-style: italic;
  font-size: 16px;
}

#copyright {
  font-size: 16px;
}

.all-channels {
  font-weight: bold;
}
.all-channels a:visited {
  color: #414141;
}

.courses {
  list-style: none;
}

.course-banners {
  border: 1px solid #d9b01c;
  border-radius: 10px;
}

.course-buttons,
.course-buttons:visited {
  font-size: 20px;
}

.course-buttons:hover {
  background-color: #d9b01c;
}

.course-buttons:active {
  background-color: #c90;
}

/*
a:link {
  color: #ceecf5;
  text-decoration: none;
}

a:visited{
  color: #777;
}

a:hover {
  color: #ceecf5;
}

a:active {
  color: #ceecf5;
}
*/
